@model MVCForumApp.Models.Topic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Topic's posts";
}

<p class="text-muted">Author: @Model.User?.Login | Date: @Model.CreatedAt</p>
<p class="lead">@Model.Title</p>
<p class="lead">@Model.Description</p>
<h3>Replies (@Model.Posts?.Count ?? 0)</h3>

<hr />
<h1>Topic's posts</h1>


<div class="posts-container">
    @{
        var currentUserId = HttpContextAccessor.HttpContext?.Session.GetInt32("UserId");
    }

    @if (Model.Posts != null && Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-3 shadow-sm">

                <div class="card-footer text-muted d-flex justify-content-between">
                    <span>Author: @(post.User?.Login ?? "Unknown User")</span>
                    <span>Date: @post.CreatedAt.ToString("g")</span>
                </div>

                <div class="card-body">
                    <p class="card-text">@post.Content</p>
                </div>
                <div>
                    @if (currentUserId != null && currentUserId == post.UserId)
                    {
                        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit post</a>
                        <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Delete post</a>

                    }
                </div>
            </div>

        }

    }
    else if (currentUserId != null)
    {
        <div class="alert alert-info">There are no replies, make the first post :D</div>

    }
    else
    {
        <div class="alert alert-info">There are no replies :c</div>
    }


    @if (currentUserId != null)
    {
        <div class="mb-4">
            <a asp-controller="Posts" asp-action="Create" asp-route-topicId="@Model.Id" class="btn btn-success">
                Add a reply
            </a>
        </div>
    }



    <div>
        @if (currentUserId != null && currentUserId == Model.OwnerId)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit topic</a>
        }
        <a asp-action="Index">Back to topic list</a>
    </div>

</div>
